<%= form_with(model: shop, local: true) do |form| %>
<div class="form-group">
  <% if shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :chain %>
    <%= form.text_field :chain , :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name , :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude , :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude , :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address , :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city , :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.number_field :zip , :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone , :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :country_code %>
    <%= form.text_field :country_code , :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Ajouter', :class => 'btn btn-primary mb-2' %>
  </div>
  </div>
<% end %>
